﻿@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Departures - ZTravel</title>
</head>
<body>

<style>
	body {
	  background-color: #FFFFFF;
	}

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      height: 98vh;
    }
    
    .item {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
    }
</style>

<div class="wrapper">
    <!--<iframe class="item" src="https://vrrf.finalrewind.org/Salzburg/Maria-Cebotari-Strasse.html?frontend=html&backend=efa.SVV&no_lines=10"></iframe>
    <iframe class="item" src="https://vrrf.finalrewind.org/Salzburg%20Parsch.html?frontend=html&backend=hafas.DB&no_lines=10"></iframe> -->
    <iframe scrolling="no" class="item" src="/WeingartenBhf"></iframe>
    <iframe scrolling="no" class="item" src="/KaHbf"></iframe>
</div>

</body>
</html>